# URL da API Backend
# Desenvolvimento Local (sem Docker)
VITE_API_URL=http://localhost:3000

# Desenvolvimento com Docker
# VITE_API_URL=http://localhost:3000

# Produção
# VITE_API_URL=https://sua-api-producao.com
